In [1]:
import numpy as np
import pandas as pd
import researchpy as rp
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import scipy as sc

In [2]:
data=pd.read_csv('D:\\DSA\Python\\Case Study 5\\Sales_data_zone_wise.csv')

In [3]:
pip install researchpy

Requirement already satisfied: researchpy in c:\users\adrash\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: statsmodels in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (0.12.2)
Requirement already satisfied: numpy in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (1.20.1)
Requirement already satisfied: scipy in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (1.6.2)
Requirement already satisfied: patsy in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: pandas in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adrash\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\adrash\anaconda3\lib\site-packages (from pandas->researchpy) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\adrash\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\adrash\anaconda3\lib\site-packages (0.12.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.15 in c:\users\adrash\anaconda3\lib\site-packages (from statsmodels) (1.20.1)
Requirement already satisfied: scipy>=1.1 in c:\users\adrash\anaconda3\lib\site-packages (from statsmodels) (1.6.2)
Requirement already satisfied: pandas>=0.21 in c:\users\adrash\anaconda3\lib\site-packages (from statsmodels) (1.2.4)
Requirement already satisfied: patsy>=0.5 in c:\users\adrash\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\adrash\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adrash\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: six in c:\users\adrash\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [5]:
data.head(10)

        Month  Zone - A  Zone - B  Zone - C  Zone - D
0   Month - 1   1483525   1748451   1523308   2267260
1   Month - 2   1238428   1707421   2212113   1994341
2   Month - 3   1860771   2091194   1282374   1241600
3   Month - 4   1871571   1759617   2290580   2252681
4   Month - 5   1244922   1606010   1818334   1326062
5   Month - 6   1534390   1573128   1751825   2292044
6   Month - 7   1820196   1992031   1786826   1688055
7   Month - 8   1625696   1665534   2161754   2363315
8   Month - 9   1652644   1873402   1755290   1422059
9  Month - 10   1852450   1913059   1754314   1608387

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     29 non-null     object
 1   Zone - A  29 non-null     int64
 2   Zone - B  29 non-null     int64
 3   Zone - C  29 non-null     int64
 4   Zone - D  29 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

In [7]:
data.columns

Index(['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D'], dtype='object')

# The mean sales generated by each zone.

In [8]:
data.describe()

           Zone - A      Zone - B      Zone - C      Zone - D
count  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01
mean   1.540493e+06  1.755560e+06  1.772871e+06  1.842927e+06
std    2.619401e+05  1.683899e+05  3.331937e+05  3.750165e+05
min    1.128185e+06  1.527574e+06  1.237722e+06  1.234311e+06
25%    1.305972e+06  1.606010e+06  1.523308e+06  1.520406e+06
50%    1.534390e+06  1.740365e+06  1.767047e+06  1.854412e+06
75%    1.820196e+06  1.875658e+06  2.098463e+06  2.180416e+06
max    2.004480e+06  2.091194e+06  2.290580e+06  2.364132e+06

In [27]:
data.mean()

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

# Total sales generated by all the zones for each month.

In [32]:
f,p=stats.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'],data['Zone - D'])

In [38]:
print('F-statistic=',f)
print('p-value=',p)

F-statistic= 5.672056106843581
p-value= 0.0011827601694503335

# Check whether all the zones generate the same amount of sales.

In [42]:
if p<=0.05:
    print("Reject Null hypothesis and accept alternate hypothesis")
else:
    print("Reject Alternate Hypothesis and accept Null hypothesis")

Reject Null hypothesis and accept alternate hypothesis

In [43]:
# ie. their is one pair of mean have difference for  hypothesis